{% extends 'base.html' %}
{% block title %}Edit User{% endblock %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="card shadow-sm">
            <div class="card-header bg-warning text-dark">
                <h4 class="mb-0">"{{ user.username }}" Edit</h4>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Username</label>
                            <input type="text" class="form-control" name="username" value="{{ user.username }}" required>
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" value="{{ user.email }}" required>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label class="form-label">First Name</label>
                            <input type="text" class="form-control" name="first_name" value="{{ user.first_name }}">
                        </div>
                        <div class="col-md-6 mb-3">
                            <label class="form-label">Last Name</label>
                            <input type="text" class="form-control" name="last_name" value="{{ user.last_name }}">
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Select Role</label>
                        <select class="form-select" name="role_id">
                            <option value="">--------- No Role ---------</option>
                            {% for role_id, role_name in roles %}
                                <option value="{{ role_id }}" {% if role_id == current_role_id %}selected{% endif %}>{{ role_name }}</option>
                            {% endfor %}
                        </select>
                    </div>


                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Update User</button>
                        <a href="{% url 'accounts:Module_Auth_list_users' %}" class="btn btn-outline-secondary">🔙 Go Back</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}